body {
    font-family: 'Roboto', sans-serif;
}

/* pre css */

/* preloder */

#preloader {
    height: 100%;
    width: 100%;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
}

.pre {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* Heading*/

#full_header {
    background: url(../img/portfolio.jpeg) center center no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 1;
}

#full_header:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.54);
    left: 0;
    top: 0;
    z-index: -1
}

.bnr_txt {
    font-size: 100px;
    display: block;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Bungee', cursive;
}

/* Heading part end */

/* nav */

.navbar-brand {
    font-family: 'Rochester', cursive;
    font-size: 36px;
    color: #fff;
}

.navbar {
    background-color: #177bbb;
}

.navbar_ul li a {
    color: #f6f6f6!important;
    font-size: 16px;
}

.navbar_ul li a:focus {
    color: #fff!important;
    font-weight: 600;
}

/* about */

.p_h {
    font-size: 22px;
}

.ati {
    font-size: 40px;
    height: 86px;
    width: 86px;
    border: 2px solid #000;
    border-radius: 50%;
    line-height: 86px;
    transition: all linear 0.4s;
}

.ati:hover {
    background-color: #177bbb;
    color: white;
    transform: rotate(360deg);
}

/* about end */

/* 3d slider start*/

.sda {
    background-color: #daeaf4;
}

/* Service */

#service {
    background: url(../img/Layer.jpeg) center center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;

}

#service:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(23, 123, 187, 0.9);
    z-index: -1;
}

/* Service hover image */

.service_img {
    width: 10%;
    padding: 0;
    margin: 0;
}



/* work */

.work_t button {
    cursor: pointer;
    border: none;
}

/* twitter */

.twitter {
    background: url(../img/tb.jpeg) center center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.slick-dots li {
    display: inline-block;
    margin-right: 20px;
}

.slick-dots li button {
    font-size: 0;
    background-color: transparent;
    border-style: none;
    border: 1px solid #fff;
    height: 5px;
    width: 5px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.slick-dots li.slick-active button {
    background-color: blue;
}


.twitter::before {
    position: absolute;
    content: close-quote;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1
}

.twi {
    background-color: #fff;
    height: 68px;
    width: 68px;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 40px;
    padding-top: 15px;
}

/* team */

.team_img {
    height: 175px;
    width: 175px;
    border-radius: 50%;
    background-color: #000;
    position: relative;
    transition: all 0.5s linear;
}

.team_img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.team_overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.48);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.5s linear;
    text-align: center
}

.team_img:hover .team_overlay {
    transform: scale(1)
}

.team_overlay a {
    display: inline-block;
    line-height: 175px;
    font-size: 50px;
}

.img_hover {
    height: 100%;
    width: 100%;
    background-color: black;
}

/* Skill */

#full_skill {
    background: url(../img/skillBackground.jpeg) center center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

#full_skill:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(249, 252, 253, 0.75);
    left: 0;
    top: 0;
    z-index: -1
}

/*  BUTTON */

.button {
    position: relative;
    display: block;
    background: none center center no-repeat;
    background-size: cover;
    border: 1px solid #2e2e2e;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: 20px 15px;
    text-align: center;
    max-width: 220px;
    min-width: 150px;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: border 1s cubic-bezier(0.19, 1, .22, 1), color .6s cubic-bezier(0.19, 1, .22, 1);
    transition: border 1s cubic-bezier(0.19, 1, .22, 1), color .6s cubic-bezier(0.19, 1, .22, 1), background 5s cubic-bezier(0.19, 1, .22, 1);
}

.button a {
    color: black;
    text-decoration: none;
}

.button .mask {
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
}

.button .mask {
    position: absolute;
    display: block;
    width: 200px;
    height: 100px;
    -webkit-transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
    transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
    -webkit-transition: all 1.1s cubic-bezier(0.19, 1, .22, 1);
    transition: all 1.1s cubic-bezier(0.19, 1, .22, 1);
}

.button .shift {
    -webkit-transition: all 1.1s cubic-bezier(0.19, 1, .22, 1);
    transition: all 1.1s cubic-bezier(0.19, 1, .22, 1);
}

.button:hover {
    border-color: #fff;
}

.button:hover a {
    color: #fff;
}

.button:hover .mask {
    background: #fff;
    -webkit-transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
    transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
}

.button:hover .shift {
    padding-left: 5px;
}

.coolBeans {
    border: 2px solid currentColor;
    color: #2355a8;
    font-weight: 100;
    overflow: hidden;
    padding: 0rem 1rem;
    position: relative;
    text-decoration: none;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
}

.coolBeans::after {
    background-color: #2355a8;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: 0.2s transform ease-out;
    will-change: transform;
    z-index: -1;
}

.coolBeans:hover::after {
    transform: translate(0, 0);
}

.coolBeans:hover {
    border: 2px solid transparent;
    color: #fff;
    transform: scale(1.05);
    will-change: transform;
}

.hvr-radial-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
    background: #2098D1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-radial-in:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e1e1e1;
    border-radius: 100%;
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-radial-in:hover,
.hvr-radial-in:focus,
.hvr-radial-in:active {
    color: white;
}

.hvr-radial-in:hover:before,
.hvr-radial-in:focus:before,
.hvr-radial-in:active:before {
    -webkit-transform: scale(0);
    transform: scale(0);
}

/* portfolio */

#full_portfolio {
    background-color: #b9d7ea;
}

.portt {

    position: relative;
    width: 100%;
    overflow: hidden;

}

.port {
    padding-bottom: 20px;
}

.hover {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgba(22, 130, 133, 0.8);
    width: 100%;
    height: 25%;
    transform: translateY(100%);
    transition: all 0.5s linear;
}

.portt:hover > .hover {
    transform: translateY(0%);
}



/* BLOG */

.blogpic {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.hoverr {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgba(59, 132, 174, 0.8);
    width: 100%;
    height: 20%;
    transform: translateY(100%);
    transition: all 0.3s linear;
}

.blogpic:hover > .hoverr {
    transform: translateY(0%);
}


/* footer */

.ficon {
    height: 66px;
    width: 66px;
    border: 2px solid #fff;
    border-radius: 50%;
    line-height: 63px;
    font-size: 30px;
    transition: all linear 0.4s;
}

.ficon:hover {
    background-color: #177bbb;
    color: white;
    transform: rotate(360deg);
}


/* maps */

.map {
    overflow: hidden;
    padding-bottom: 30%;
    position: relative;
}

.map iframe {
    left: 0;
    top: 0;
    height: 80vh;
    width: 100%;
    position: absolute;
}

/* map end */

/* contact us */

textarea {
    height: 120px;
    resize: none;
}

#contact {
    font-size: 15px;
}

.ad {
    font-size: 28px;
}

.send {
    background-color: #323232;
    color: #fff;
    transition-duration: 8ms;
}

.send:hover {
    background-color: white;
    color: black;

}

/*  3d slider */
